<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>$this->pagetitle</title>
</head>
<body>
<div id="div_main">
<div id="div_title" style="font-size:20px;">
$this->title;
</div>
<div id="div_info">
<div>$this->author</div>
<div>$this->date</div>
<div><span>点击次数</span>$this->clicktimes</div>
<div><span>评论数目</span>$this->pinglunshu</div>
</div>
<div id="div_content">
$this->content
</div>
</div>
</body>
</html>